<div class="row mb-3">
  <div class="offset-md-2 col-md-8">
    <div class="card">
      <h2 class="card-header h4">
        New <%= singular_table_name.titlecase %>
      </h2>

      <div class="card-block">
        <%%= render "form", <%= singular_table_name %>: @<%= singular_table_name %> %>

        <%%= link_to fa_icon("chevron-left"), :back, class: "btn btn-block btn-secondary" %>
      </div>
    </div>
  </div>
</div>
