<div class="row m-t-3">
  <div class="offset-lg-2 col-lg-8">
    <div class="card">
      <h2 class="card-header">
        Edit <%= singular_table_name.titleize %> #<%%= @<%= singular_table_name %>.id %>
      </h2>

      <div class="card-block">
        <%%= render "form", <%= singular_table_name %>: @<%= singular_table_name %> %>
      </div>
    </div>
  </div>
</div>
